:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spectral', serif;
    font-family: 'Montserrat', sans-serif;
}

/*conf gerais--------------------*/

.container{
    padding: 0 10%;
}

.flex-row-btwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-border{
    border-radius: 10px;
}

/*Header---------------------------------------------------*/
header{
    /* outline: 1px solid red; */
    padding: 1.2rem 0;
}

.logo{
    width: 7rem;
    margin-left: 0.5rem;
}

.cart{
    width: 1.3rem;
}

.profile-icon{
    width: 1.5rem;
    margin-left: 2vw;
}

/*menu--------*/

.hamburguer-menu{
    width: 1rem;
    position: relative;
}

.menu{
    display: none;
}

/*imagem do produto-----------------------------------------*/

.prod-img-box{
    width: 100%;
}

.prod-img{
    position: relative;
    width: 100%;
    border-radius: 0;
}

.slide-button {
    background-color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 100%;
    position: absolute;
    top: 60vw;
}

.previous-icon{
    left: 1rem;
}

.next-icon{
    right: 1rem;
}

.preview-images-box{
    display: none;
}

/*Descrição do produto---------------------------------------*/


.company-title{
    margin-top: 1rem ;
    color: var(--Orange);
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
}

.prod-title{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.prod-desc{
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    font-weight: 500;
}


/*preco-----*/

.price{
    /* outline: 1px solid red; */
    margin: 1.5rem 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.discount{
    background-color: var(--Pale-orange);
    color: var(--Orange);
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.normal-price{
    color: var(--Grayish-blue);
    text-decoration:line-through;
    font-size: 0.9rem;
}

/*Quantidade------------------*/

.discount-price-box{
    display: flex;
}

.amount{
    background-color: var(--Light-grayish-blue);
    padding: 0.5rem;
}

.minus-icon, 
.plus-icon{
    cursor: pointer;
    padding: 10px;
}

.add-bttm{
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    background-color: var(--Orange);
    border: none;
}

.add-bttm img{
    width: 1rem;
    margin-right: 1rem;
}

.add-bttm:hover{
    background-color:hsl(26, 100%, 61%);
    cursor: pointer;
}

/*Tablets--------------------------------------------------*/

@media (min-width: 40rem){
    .prod-img-box{
        width: 60%;
        margin: auto;
    }

    .previous-icon{
        top: 40vw;
        left: 5rem;
    }

    .next-icon{
        top: 40vw;
        right: 5rem;
    }
}


/*Desktop-------------------------------------------------*/

@media( min-width: 50rem){

    /*container que ocupa toda a tela*/
    .outer-box{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    /*header:*/
    .inner-fixed{
        flex-grow: 0;
    }

    /*resto do conteúdo*/
    .inner-responsive{
        /*Vai esticar e ocupar todo o espaço restante da tela, independente do tamanho dela
        Porque 100vh ou 100% fazia aparecer barra de rolamento.
        */
        flex-grow: 1;
    }

    /*Configuração das colunas---------------*/
    .break-col{
        display: flex;
        align-items: center;    
        padding: 0 10%;
    }

    /* div{
        outline: 1px solid red;
    } */

    .col{
        width: 50%;
        padding: 0 5% ;
    }

    /*header-----------------*/

    header{
        padding: 1.2vw 0;
        border-bottom: 2px solid var(--Grayish-blue);
    }

    .profile-icon{
        width: 3vw;
    }

    .logo{
        width: 12vw;
    }

    .menu{
        /* outline: 1px solid red; */
        display: inline-block;
        margin-left: 2rem;
        text-decoration: none;
    }
    
    .menu-item{
        display: inline-block;
    }
    
    .menu-item a{
        padding: 2vw 0.5rem;
        font-size: 1.2vw;
        text-decoration: none;
        color: var(--Dark-grayish-blue);
    }
    
    .menu-item a:hover{
        color: var(--Very-dark-blue);
        border-bottom: 3px solid var(--Orange);
    }

    /*Imagem do produto---------------------*/

    .prod-img-box{
        width: 90%;
        margin: auto;
    }

    .prod-img{
        border-radius: 10px;
    }
    
    .preview-images-box{
        display: flex;
        margin-top: 1rem;
    }

    .preview-images{
        width: 5vw;
    }

    .slide-button{
        display: none;
    }

    /*descrição-------------------*/

    .company-title{
        font-size: 1vw;
    }

    .prod-title{
        font-size: 3vw;
    }

    .prod-desc{
        font-size: 1.4vw;
    }

    /*preço---------------*/

    .price{
        flex-direction: column;
    }

    .discount-price-box{
        font-size: 2vw;
    }

    .discount{
        font-size: 1.5vw;
    }

    .normal-price{
        font-size: 1.5vw;
        margin-top: 0.5rem;
    }

    /*quantidade-------------*/

    .buy-amount-cols{
        display:flex;
        /* align-items: center; */
    }

    .amount{
        width: 50%;
        padding: 4vw auto;
        margin-right: 0.5rem;
        font-size: 1.5vw;
    }

    .minus-icon,
    .plus-icon{ 
        width: max(2rem, 2vw);
    }

    .add-bttm{
        margin: 0;
        width: 70%;
        padding: 1vw;
        font-size: 1.4vw;
    }

    .add-bttm img{
        width: max(1rem, 1vw);
    }
}
