:root{
    --dark-grey: #333333 ;
    --grey: #828282;
    --light-grey: #BDBDBD;

    --gradiant: linear-gradient(to left, #FAAC56, #D8328A, #753872);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Grid -----------------------------*/
.container{
    outline: 1px solid red;
    margin: 0 10%;
    display: grid;
    grid-template-rows: 0.4fr 3fr 0.4fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
    /* align-items: center; */
}


.flex-row{
    display: flex;
    align-content: center;
    align-items: center;
}

header{
    height: 100%;
    /* padding: 1.6rem 0; */
    outline: 1px solid red;
    grid-area: header;
    justify-content: space-between;
}

main{
    outline: 1px solid red;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

footer{
    outline: 1px solid red;
    grid-area: footer;
}


/*Header------------------------------------*/
.logo{

}

.header-menu{
    list-style: none;
    margin-left: 4rem;
}

.menu-item{
    margin-right: 1rem;
}

.menu-item a{
    text-decoration: none;
    padding: 0.4rem;
    color: var(--light-grey);
}

.menu-item a:hover{
    color: var(--dark-grey);
}

.bttm{
    border-radius: 30px;
    padding: 0.8rem 2rem;
    border: none;
    cursor: pointer;
}

.get-bttm{
   background: var(--gradiant);
   color: white;
}

/*main-------------------------------*/

.content-title{
    width: 80%;
    font-size: 3rem;
    color: var(--dark-grey);
    margin-bottom: 2rem;
}

.content-text{
    color: var(--grey);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    width: 90%;
}

.video-bttm{
    display: flex;
    align-items: center;
}

.video-bttm--icon{
    /* outline: 1px solid red; */
    background: var(--gradiant);
    padding: 5px 7px;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.video-bttm--icon img{
    width: 0.7rem;
}

.gradiant-text{
    background: var(--gradiant);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.content-img{
    outline: 1px solid red;
    height: 80%;
}

.content-img img{
   height: 100%;
}

/*Footer-------------------------*/
.creator{
    text-decoration: none;
    color: var(--light-grey);
    font-size: 0.7rem;
}

.footer-icon{
    width: 1.5rem;
    margin-right:  2rem;
}
