:root{
/*Primary*/

--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);

/*Neutral*/

--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);

/*Weigts-------*/

--light-weight: 300;
--medium-weight: 400;
--heavy-weight: 700;

/*Gradient-------*/

--green-to-blue: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

/*Geral----------------------------------------------*/

header{ height: 4rem; }

ul { list-style: none; }

a { text-decoration: none;}
    
.container{
    margin: 0 min(10rem, 8%);
}

.content-box{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.flex-row-wrap{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: var(--Dark-Blue);
    font-weight: var(--light-weight);
}

.title-header{ font-size: 2rem;}

.title-G{ font-size: 2rem; }

.title-M{ font-size: 1.2rem; }

.title-S{
    text-align: left;
    font-size: 1rem;
}

.text{
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: var(--Grayish-Blue);
}

.text-header{ text-align: justify;}

.text--small{
    font-size: 0.8rem;
    text-align: left;
}

.bkg-light-grey{ background-color: var(--Light-Grayish-Blue)}

.bkg-vanilla{ background-color: var(--Very-Light-Gray); }

.bkg-dark{ background-color: var(--Dark-Blue); }

.clicker{ cursor:pointer; }

.title-M{ margin-top: 1.5rem;}

.hover-green:hover{
    color: var(--Lime-Green);
}

/*---------------------------------------------------*/
.request-bttm{
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    background-image: var(--green-to-blue);
    border: none;
}

/*Article links----------------------------------*/

.latest-box{
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-top: 2rem;
}

.latest-box img{ 
    width: 100%; 
    height: 50%;
}

.article-text{ padding: 0 1.5rem; }

.article-autor{
    font-size: 0.6rem;
    text-align: left;
}

/*Header menu----------------------------------------------*/

.header-menu{ 
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    top: 4em;
    width: 90%;
    left: 5%; 
    display: none;
}

.menu-itens{
    padding: 0;
    margin: 1rem ;
}

.menu-itens li{
    display: block;
    width: auto;
    text-align: center;
}

.menu-itens li a{
    display: inline-block;
    padding: 0.5rem;
    color: var(--Dark-Blue);
    font-weight: var(--heavy-weight);
}

.menu-bkg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 3.1rem;
    background: linear-gradient(var(--Dark-Blue) 40%, transparent);
    z-index: 1;
    opacity: 0.9;
    display: none;
}

.menu-bttms{ position: relative;}

.bttm-menu{
    border: none;
    background-color: white;
}

.hamburguer-bttm{ height: 0.8rem;}

.close-bttm{
    position: absolute;
    right:0.3rem;
    top: -2vw;
    display: none;
}

.request-bttm--header{ display: none;}

/*Footer--------------------------------------------------------*/

footer{
    padding: 1rem 0;
    text-align: center;
}

.footer-item{
    margin: 0.6rem ;
}

.footer-menu{
    margin-left: 5vw;
}

.footer-list-item a{
    color: white;
    display: block;
    padding: 0.5rem;
}

.copyright{
    color: var(--Grayish-Blue);
    font-size: 0.8rem;
}

/*banner------------------------------------------------*/
.banner-img{
    background-image: url("images/bg-intro-mobile.svg");
    background-position: 0rem 0.01rem;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 84vw;
    overflow: hidden;
    position: relative;
}

.banner-img img{
    position: absolute;
    top: -36vw;
    width: 100%;
}

/*DESKTOP-----------------------------------------------------------------*/
@media( min-width : 50em){
    /*Geral----------------------------------------------*/
    header{ height: 5rem; }

    .flex-row-wrap{
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }

    .flex-row-wrap>div:not(:first-child){
        margin-left: 2rem;
    }

    .content-box, 
    .text-header{
        text-align: left;
    }

    .sixty-div{ width: 65%; }

    .title-G{
        font-size: 3vw;
    }
    
    .title-M{
        font-size: 1.5vw;
    }

    .title-S{
        font-size: 1.3vw;
    }

    .article-autor{
        font-size: 0.8vw ;
    }

    .text{
        font-size: 1.2vw;
    }

    .text--small{
        font-size: 1vw;
    }

    /*Banner----------------------------------------------*/

    .banner{
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        height: 40vw;
    }

    
    .banner-img{
        background-image: url("images/bg-intro-desktop.svg");
        background-size: 140%;
        background-position: -2vw -16vw ;

        /*O overflow foi ajutado para hidden, dessa forma qualquer parte da imagem que passa da div não aparece.
        Como apenas a parte debaixo precisa aparecer, aumenta a altura para ter a imagem completa apenas embaixo.
        */
        height: 50rem;
    }

    .banner-img img{
        top: -8vw;
        left: 8vw;
        bottom: 0;
        width: 85%;
    }

    .banner-text{
        flex-shrink: 1.4;
        padding-left: 8%;
        margin: auto 0;
    }

    .title-header{
        font-size: 4vw;
    }


    /*Header menu----------------------------------------------*/
    
    .header-menu{
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .menu-bttms{ display: none;}
    
    .request-bttm:hover{
        filter: brightness(120%);
    }

    .request-bttm--header{ display: block;}

    .menu-itens{
        height: 100;
        margin: 0;
    }

    .menu-itens li a{
        color: var(--Grayish-Blue);
        font-weight: var(--light-weight);
        padding: 1.8rem 0.5rem;
    }

    .menu-itens li a:hover{
        color: var(--Dark-Blue);
        font-weight: var(--heavy-weight);
        border-bottom-width: 4px;
        border-bottom-style: solid;
        border-image: var(--green-to-blue) 1;
    }

    /*Footer menu----------------------------------------------*/
    .footer-list-item{
        text-align: left;
    }

    .footer-menu ul div:not(:first-child){
        padding-left: 2vw;
    }

}